.wraper-pages {
  width: 100%;
  margin: 0;
  padding: .8em 6em .8em 6em;
}

.wraper-pages {
  background: #F4F4F4;
  min-height: calc(100vh - 70px)
}

.backgroundMarvel {
  background: url(/assets/icons/fondo.jpg);
  background-size: cover;
  background-position: center;
}
