form {
  width: 100%;
  height: calc(100vh - 1.6em);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  background-size: 100vw;

  img {
    width: 250px;
  }

  input {
    padding-left: 20px;
    width: 550px;
    height: 50px;
    border: none;
    max-width: 70vw;
    margin-top: 2em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  button {
    background: #EC1E23;
    color: white;
    outline: none;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-top: 2em;
  }
}
