.row-characters {
  padding-top: 3em;
}

.character-content {
  background: white;
  //   height: 250px;
  margin: 2em 1em ;
  padding: 20px;
  position: relative;

  .name-character {
    font-size: 1.4rem;
    color: #473D3C;
  }

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: -20px;
    top: -20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .info-character {
    position: absolute;
    top: -27px;
    left: 210px;
  }

  .block-ellipsis {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1em;
    color: #C5C1C2;
    line-height: 25px;
  }

  .btn-view-more {
    background: #EC1E23;
    color: white;
    outline: none;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
  }

  .related-comics {
    margin-top: 200px;

    h2 {
      color: #473D3C;
    }
  }

  .comic {
    margin-bottom: 1em;
    color: darken(#C5C1C2, 50%);
  }
}
